@charset "UTF-8";
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 질문 게시판 css 시작 */

#question_board_container{
    width: auto;
    height: 200px;
    text-align: center;
    
}
.question_board{
	font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    font-size:30px;
    line-height: 200px;
}
#question_table_container{
    width: 1000px;
    height: auto;
    margin-top: 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.question_table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 15px;
}

.td{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.td-color{
    background-color: rgb(252, 255, 53);
}
#question_bottom_container{
    margin-top: 30px;
    width: 1000px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

/* 질문게시판 css 끝 */

/* 글쓰기 css 시작 */
    /* 문의하기, 등록 버튼 css*/
section#board_write{
    margin:auto;
    width:1000px;

}
section#board_write>div{
	margin-bottom:10px;
}
#write_top_container{
    margin-top: 60px;
    border-bottom: 1px lightgray solid;
}
#write_top_container>p{
	margin-top:50px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom:10px;
}
/* 제목, 내용 css */
#write_container, div#write_content{
   margin: 20px 0 5px 0;
}
div#write_container>span{
    margin-right:50px;
}
select#qab_cate{
    width:300px;
    height:30px;
}
div#write_content>#qab_content{
   width: 1000px;
   height: 500px;
}
/* 비밀번호, 목록 버튼 css*/
#write_bottom_container{
   height: 50px;
   border-bottom:1px lightgray solid;
   text-align: center;
   line-height: 45px;
   margin-bottom:10px;
}
#write_bottom_container>ul li{
    float:left;
    margin-right:30px;
}
.back_button{
    width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    font-size:16px;
    cursor: pointer;
}
#checkBtn{
    width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    font-size:16px;
    cursor: pointer;
    float:right;
    background-color: black;
    color:white;
}
/* 글쓰기 css 끝 */

/* 상품문의 css 시작 */
section#boardview_box{
    width:1000px;
    text-align:left;
}

div#view_title{
    border-bottom:1px black solid;
    font-size:25px;
    text-align:inherit;
}
div#view_content_title{
	text-align:inherit
}
div#view_title>p{
    margin-bottom:10px;
}
div#view_content_title p{
    border-bottom:1px #EAEAEA solid;
    height: 40px;
}
div#view_content_title p:nth-child(3){
    border-bottom:1px black solid;
}
div#view_content_box{
    height:400px;
    border-bottom:1px black solid;
    text-align:inherit;
}
div#comment_write_con{
    border-bottom:1px black solid;
    height:120px;
    text-align:inherit;
}
div#comment_write_box textarea{
    width:850px;
    float:left;
}
div#comment_write_con>p, div#comment_view_con>p, div#comment_view_box>p{
    font-weight: bolder;
}
button#comment_btn_insert{
    background-color: black;
    color:white;
    border-radius : 7%;
    width:90px;
    font-size:16px;
    height: 65px;
    float:right;
}
div#comment_view_con{
    border-bottom: 1px black solid;
    text-align:inherit
}
#comment_view_box ul{
    margin-top:0;
}
#comment_view_box>ul li{
    display: inline-block;
    margin-top: 10px;
}
.f_right{
    float:right;
}
div#comment_btn{
    clear:both;
}
.backtoList_btn{
    width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    font-size:16px;
    cursor: pointer;
}
/* 상품문의 css 끝 */

/* 자주 묻는 질문 css 시작 */

/* FAQ Board page section css - 진경수정 */
#FAQ_container {
    width: 900px;
    margin: auto;
    height: auto;
}
#FAQ_container p:first-child {
    font-size: 35px;
    line-height: 200px;
}
table#FAQ_table {
    width: 900px;
    height: auto;
    border-collapse: collapse;
}
table#FAQ_table thead th {
    border-top: 2px solid black;
    border-bottom: 3px double black;
    font-size: 18px;
    padding: 15px;
}
table#FAQ_table thead th:first-child {
    width: 15%;
}
table#FAQ_table tbody td {
    border-bottom: 1px solid rgb(211, 199, 199);
    font-size: 15px;
}
table#FAQ_table tr>td:first-child {
    width: 15%;
}
table#FAQ_table li {
    padding: 20px;
}
table#FAQ_table .FAQ_answer {
    display: none;
}
/* FAQ Board page section css - 진경수정 */



#FAQ_bottom_container{
    width: 1000px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* 자주 묻는 질문 css 끝 */

/* 비밀번호 입력창 css 시작 */
section#board_pw_check{
	width:1000px;
    height: 500px;
    margin-top:50px;
}
#password_container{
    text-align: center;
}
div#pw_title_box{
	margin-top:170px;
    font-size:25px;
    font-weight: bolder;
    margin-bottom:30px;
}
div#pw_context_box{
    color:gray;
    font-size:18px;
}
div#pw_context_box span.pw_text_border{
    color:black;
    font-weight: bolder;
}
div#search_form{
    margin-top: 50px;
}
input#input_pw{
    margin-left:20px;
}
div#pw_bottom_btn input {
    width:80px;
    height:30px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    cursor: pointer;
    margin: 0 30px 0 30px;

}
input.password_btn{
    background-color: black;
    color:white;
}
div#pw_bottom_btn{
    margin-top:50px;
}
/* 비밀번호 입력창 css 끝*/

/* test.jsp의 css 시작 */
#FAQ_table_container{
    width: 1000px;
    height: auto;
    margin-top: 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    }

    #FAQ_table{
        width: 1000px;
        height: auto;
        border-collapse: collapse;
    }

    .td_title{
    width: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-left: none;
    border-right: none;
    }
    .menu{
        border-bottom: 1px solid black;
        font-weight: bold;
    }
    .menu_list{
        list-style: none;
    }
    .menu_list{
        cursor:pointer;
    }
    .hide{
        display:none;
        padding:0px
    }
    .FAQ_list{
        padding-top: 25px;
        list-style: none;
        background-color: rgb(255, 242, 186);
        height: 50px;
        border-bottom: 2px solid gray;
        font-size:30px;
    }
    .FAQ_list2{
        padding-top: 25px;
        list-style: none;
        font-size:30px;
        background-color: rgb(255, 242, 186);
        height: 50px;
    }
/* test.jsp의 css 끝 */