.login_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:180px;
}

.logo {
  width: 160px;
  height: 80px;
  background: url(../images/ui/logo.png) no-repeat center;
  background-size: contain;
  margin: auto;
  margin-bottom: 50px;
}

.form.login {
  width: 250px;
}

.google {
  background: url(../images/google.JPG) no-repeat center;
  background-size: contain;
}

.facebook {
  background: url(../images/facebook.JPG) no-repeat center;
  background-size: contain;
}

.button-social {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  padding: 0 13px;
}

.link.border {
  border-right: 1px solid gray;
}

.container.link {
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.container.center {
  justify-content: center;
}

.container.around {
  justify-content: space-around;
}

.container-no-margin {
  display: flex;
  align-items: center;
}

.container-address {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form {
  height: 30px;
}

.btn-frame {
  height: 30px;
  padding: 4px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-frame.small {
  height: 25px;
  padding: 2.5px 9px;
  font-size: 11px;
}

.btn-frame.basic {
  color: white;
  background-color: rgba(128, 128, 128, 1);
}

.btn-frame.basic:hover {
  background-color: rgba(128, 128, 128, 0.7);
}

.btn-frame.primary {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.btn-frame.primary:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.guide {
  font-size: 11px;
  color: gray;
}

.no-margin {
  margin: 0
}