.login_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:180px;
}

.logo {
  width: 160px;
  height: 80px;
  background: url(../images/ui/logo.png) no-repeat center;
  background-size: contain;
  margin: auto;
  margin-bottom: 50px;
}

.form.login {
  width: 250px;
}

.google {
  background: url(../images/google.JPG) no-repeat center;
  background-size: contain;
}

.facebook {
  background: url(../images/facebook.JPG) no-repeat center;
  background-size: contain;
}

.button-social {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  padding: 0 13px;
}

.link.border {
  border-right: 1px solid gray;
}

.container.link {
  margin-bottom: 50px;
}

.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper-register {
  border-top: gray 2px solid;
  border-bottom: gray 2px solid;
  padding: 25px 40px;
  margin-bottom: 30px;
}

.container-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.form.address {
  width: 300px;
  margin-right: 5px;
}

.phone {
  width: 56px;
  height: 30px;
}

.postal-code {
  width: 56px;
  margin-right: 5px;
}

.email {
  width: 250px;
}

.container-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.title-register>p {
  font-size: 26px;
}

.subtitle-register {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.subtitle-register p {
  font-size: 14px;
}

.mark-required {
  color: rgb(237, 48, 14);
}

html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-recovery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.hint {
  width: 300px;
  justify-content: space-between;
}

.container-pw {
  background-color: rgba(230, 230, 230, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  padding: 20px 30px;
}

.container-id {
  border: 1px solid rgba(230, 230, 230, 1);
  padding: 20px 30px;
}

.container.title {
  margin-bottom: 30px;
}

.container.title>p {
  font-size: 20px;
}

.container.blank {
  margin-bottom: 60px;
}

.form.recovery {
  width: 200px;
}