@charset "UTF-8";
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* 글쓰기 css 시작 */
section#board_write{
    width:1000px;
}
section#board_write>div{
	margin-bottom:10px;
}
#write_top_container{
	width:1000px;
	height:200px;
	border-bottom: 1px solid lightgray;
}
#write_top_container>p {
	width:900px;
	margin: auto;
	line-height:200px;
	font-size: 35px;
}

/* 제목, 내용 css */
#write_container {
	width: 900px;
	margin: 15px auto;
}
div#write_content {
	width: 900px;
	margin: auto;
}
div#write_content>textarea {
	padding: 15px;
}
div#write_container>span,
div#write_bottom_container>span {
	display: inline-block;
	font-size: 20px;
	padding: 0 15px 0 10px;
}
select#qab_cate{
    width:300px;
    height:30px;
}
div#write_content>#qab_content{
   width: 900px;
   height: 500px;
}

/* 비밀번호, 목록 버튼 css*/
#write_bottom_container{
	width:900px;
	margin: auto;
    border-bottom:1px lightgray solid;
    text-align: left;
    line-height: 45px;
    padding-bottom: 10px;
}
input.password_table {
	width:200px;
    height:30px;
    padding: 5px;
}
div.write_server_button {
	width:900px;
	margin:auto;
	padding: 20px 0 50px 330px;
}
.back_button{
    width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px;
    font-size:16px;
    cursor: pointer;
}
#checkBtn{
    width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px;
    font-size:16px;
    cursor: pointer;
    background-color: black;
    color:white;
}
/* 글쓰기 css 끝 */

/* 게시글view css 시작 */
section#boardview_box{
    width:1000px;
    text-align:left;
}
div#view_content_title{
	text-align:inherit;	
	border-top:1px black solid;
	border-bottom:1px black solid;
}
div#view_content_title p{
    border-bottom:1px #EAEAEA solid;
    height: 50px;
    line-height:50px;
    padding-left:20px;
}
div#view_content_title .view_span{
	margin-left:50px;
}
div#view_content_title .view_span1{
	margin-left:65px;
}
div#view_content_box{
    height:400px;
    border-bottom:1px black solid;
    text-align:inherit;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    margin-bottom:0px;
    overflow:auto;
    width:100%;
}
div#comment_write_con, div#comment_edit_con{
    border-bottom:1px black solid;
    padding-top:15px;
    height:150px;
    text-align:inherit;
    margin-bottom:0px;
    padding-left:20px;
}
div#comment_write_con textarea,
div#comment_edit_con textarea{
	margin-top:10px;
    width:800px;
    float:left;
    height:65px;
}
.text_border{
    font-weight: bolder;
    font-size:18px;
}
button.comment_btn_insert{
    background-color: black;
    color:white;
    border-radius : 7%;
    width:90px;
    font-size:16px;
    height: 65px;
    float:right;
    margin-top:10px;
    margin-right:20px;
}
div#comment_view_con{
    border-bottom: 1px black solid;
    padding-top:15px;
    height:200px;
    text-align:inherit;
    margin-bottom:0px;
    padding-left:20px;
}
#comment_view_box ul{
    margin-top:0;
}
#comment_view_box>ul li{
    display: inline-block;
    margin-top: 10px;
    padding-left:20px;
}
.f_right{
    float:right;
    padding-right:50px;
}
div#comment_btn{
    /* clear:both; */
    margin-top:50px;
    text-align:inherit;
	height:100px;
}
li#comment_edit{
	padding-right:0px;
}
#comment_edit_btn{
	background-color:black;
	color:white;
}
#comment_del_btn, #comment_edit_btn{
    border-radius :7%;
    width:60px;
    height:30px;
    border:none;
    cursor:pointer;
    margin-right:0;
}
.backtoList_btn{
	float:left;
    width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    font-size:16px;
    cursor: pointer;
}
.board_del_btn{
	width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    font-size:16px;
    cursor: pointer;
    text-align:center;
    padding:0 !important;
}
.board_edit_btn{
	width:100px;
    height:40px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    font-size:16px;
    cursor: pointer;
	background-color:black;
	color:white;
	text-align:center;
	padding:0 !important;
}
/* 게시글view css 끝 */

/* FAQ Board page section css - 진경수정 */
/* Board_question page section css - FAQ랑 통일되는 부분 있으니까 css 수정 시 유의할 것 */
#FAQ_container,#board_container,#view_title {
	/*view_title=게시판상세view, 여기에 좀 낄께 ㅎㅅㅎ -하은-*/
    width: 900px;
    margin: auto;
    height: auto;
}

div#FAQ_container,
#board_container {
	margin-bottom : 100px;
}

#FAQ_container p:first-child,
#board_container p:first-child,
#view_title p:first-child {
    font-size: 35px;
    line-height: 200px;
}
table#FAQ_table, #board_table {
    width: 900px;
    height: auto;
    border-collapse: collapse;
}
table#FAQ_table thead th,
table#board_table thead th {
    border-top: 2px solid black;
    border-bottom: 3px double black;
    font-size: 18px;
    padding: 15px;
}
table#FAQ_table thead th:first-child,
table#FAQ_table tr>td:first-child,
table#board_table thead th:first-child,
table#board_table tr>td:first-child {
    width: 10%;
}
table#board_table thead th:nth-child(2),
table#board_table tr>td:nth-child(2)
 {
    width: 55%;
}
table#board_table thead th:nth-child(3),
table#board_table tr>td:nth-child(3) {
    width: 10%;
}
table#board_table thead th:nth-child(4),
table#board_table tr>td:nth-child(4) {
    width: 10%;
}
table#board_table thead th:last-child,
table#board_table tr>td:last-child {
    width: 15%;
}
table#board_table tbody th {
	border-bottom: 1px solid rgb(211, 199, 199);
    padding: 13px;
    background: rgb(243, 243, 243);
    font-size: 17px;
}
table#FAQ_table tbody td,
table#board_table tbody td {
    border-bottom: 1px solid rgb(211, 199, 199);
    font-size: 15px;
}
table#board_table tbody td {
	padding: 7px;
	
}
table#FAQ_table li {
    padding: 13px;
    text-align : left;
}
table#FAQ_table .FAQ_answer {
    display: none;
}
#FAQ_bottom_container{
    width: 1000px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#board_container .write_button {
	width: 80px;
	height: 30px;
	border-radius: 7%;
	background: black;
	color: white;
	float: right;
	margin-top: 15px;
	margin-right: 7px;
	cursor: pointer;
}
/* 자주 묻는 질문 + 질문게시판 css 끝 */


/* 비밀번호 입력창 css 시작 */
section#board_pw_check{
	width:1000px;
    height: 500px;
    margin-top:50px;
}
#password_container{
    text-align: center;
}
div#pw_title_box{
	margin-top:170px;
    font-size:25px;
    font-weight: bolder;
    margin-bottom:30px;
}
div#pw_context_box{
    color:gray;
    font-size:18px;
}
div#pw_context_box span.pw_text_border{
    color:black;
    font-weight: bolder;
}
div#search_form{
    margin-top: 50px;
}
input#input_pw{
    margin-left:20px;
}
div#pw_bottom_btn input {
    width:80px;
    height:30px;
    border : none;
    border-radius : 7%;
    margin: 10px 5px ;
    cursor: pointer;
    margin: 0 30px 0 30px;

}
input.password_btn{
    background-color: black;
    color:white;
}
div#pw_bottom_btn{
    margin-top:50px;
}
/* 비밀번호 입력창 css 끝*/

/* test.jsp의 css 시작 */
#FAQ_table_container{
    width: 1000px;
    height: auto;
    margin-top: 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    }

    #FAQ_table{
        width: 1000px;
        height: auto;
        border-collapse: collapse;
    }

    .td_title{
    width: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-left: none;
    border-right: none;
    }
    .menu{
        border-bottom: 1px solid black;
        font-weight: bold;
    }
    .menu_list{
        list-style: none;
    }
    .menu_list{
        cursor:pointer;
    }
    .hide{
        display:none;
        padding:0px
    }
    .FAQ_list{
        padding-top: 25px;
        list-style: none;
        background-color: rgb(255, 242, 186);
        height: 50px;
        border-bottom: 2px solid gray;
        font-size:30px;
    }
    .FAQ_list2{
        padding-top: 25px;
        list-style: none;
        font-size:30px;
        background-color: rgb(255, 242, 186);
        height: 50px;
    }
/* test.jsp의 css 끝 */